[Unit]
Description=ProtonVPN CLI Auto-Start
After=network.target

[Service]
Type=forking
User=root
ExecStart=/usr/bin/protonvpn-cli -c is-de#1 || /usr/bin/protonvpn-cli -c is-nl#1 || /usr/bin/protonvpn-cli -c is-il#1
ExecReload=/usr/bin/protonvpn-cli --disconnect && /usr/bin/protonvpn-cli -c is-de#1 || /usr/bin/protonvpn-cli -c is-nl#1 || /usr/bin/protonvpn-cli -c is-il#1
ExecStop=/usr/bin/protonvpn-cli --disconnect
Restart=always
KillMode=mixed
